.container {
  float: left;
  height: 100vh;
  display: flex;
}

body {
  margin: 0%;
  padding: 0%;
  width: 100vh;
  height: 100vh;
  background: url("./Pix/bg.png");
}

h1 {
  border: 1px solid;
  border-radius: 8px;
  color: white;
}
h3{
  color: white
}

.topbar {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 2px 500px;
  margin: 0%;
}

.sidebar1 {
  width: 250px;
  height: 90%;
  padding: auto;
  padding-left: 30px;
  padding-top: 25px;
  margin: auto;
  flex-shrink: 0;
  overflow: auto;
}

.sidebar2 {
  width: 225px;
  height: 90%;
  padding: auto;
  padding-left: 0px;
  padding-top: 25px;
  margin: auto;
  flex-shrink: 0;
  overflow: auto;
}

.SidebarList {
  height: auto;
  width: 100%;
  padding: 10px;
}

li {
  margin: 10px;
  font-size: medium;
  color: white;
}

.clickableText {
  cursor: pointer;
}

.content {
  flex-grow: 1;
  margin: auto;
  position: absolute;  
  left: 725px;
  width: 200px;
}

.option-block {
  padding: 5px;
  border-bottom: 3px dashed #D0CCCC;
}

.input-container {
  float: left;
  height: 30vh;
  border: 1px solid white;
  border-radius: 4px;
  padding: 6px 7px;
  display: flex;
  align-items: flex-start;
  width: 800px;
}

.input-field {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: rgb(0,0,0,.2);
  color: white;
  font-size: 18px;
}

.out {
  padding-top: px;
}

.output-container {
  float: left;
  height: 30vh;
  border: 1px solid white;
  border-radius: 4px;
  padding: 6px;
  position: relative;
  width: 800px;
}

.output-field {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
  color: white;
  background-color: rgb(0,0,0,.2);
  font-size: 18px;
}
.out{
  position: relative;
  bottom: -80px;
}
